@import url("https://fonts.googleapis.com/css?family=Lemonada|Montserrat&display=swap");

$page-background-color: #f9f9f9;
$background-color: #8cb5eb;
$headline-color: #8d2308e8;
$text-color: #1d1b1d;
$lemonada: "Lemonada", cursive;

body {
  background-color: $page-background-color;
  max-width: 960px;
  margin: auto;
}

.content{
    background-color: $background-color;
}

.title {

  h1 {
    color: $headline-color;
    font-family: $lemonada;
    font-size: 50px;
    margin: 0;
    text-align: center;
  }
}

p {
  color: $text-color;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
}

.profile-image-box {
  display: flex;
  justify-content: center;
  border-style: solid;
  border-width: 1px;
  background-color: #20201f;
  background-image: url("images/fire-banner-transparent.png");
}

nav {
  display: block;
  text-align: center;
  background-color: #373737;
  

  a:link {
    font-family: $lemonada;
    font-size: 20px;
    text-decoration: none;
    margin: 10px;
    border-left: 4px solid transparent;
    color: #be8181;
  }

  a:hover {
    border-left: 4px solid;
    background-color: #000;
    color: $headline-color;
    transition: border-left 0.3s ease-in-out;
    transition: $page-background-color 0.3s ease-in-out;
  }

  .current-page-link {
    border-left: 4px solid transparent;
    background-color: rgb(16, 204, 57);
    color: $headline-color;
  }
}

.submission-form {
  max-width: 400px;
  min-height: 500px;  
  margin: auto;
  background-color: $page-background-color;
}
