@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto&display=swap");
* {
  margin: 0;
}

body {
  background-color: #ffe0b5;
}

header {
  display: block;
  width: 100%;
  height: 100px;
  line-height: 100px;
  text-align: center;
  background-color: #462521;
  text-shadow: 1px 4px #232323;
}

header a {
  font-family: "Open Sans", sans-serif;
  font-size: 30px;
  font-weight: bold;
  color: #efefef;
  text-transform: uppercase;
  text-decoration: none;
}

header a:link {
  padding-right: 5px;
  margin: 10px;
  border-left: 4px solid transparent;
  border-radius: 10px;
}

header a:hover {
  border-left: #ca2e55 4px solid;
  background-color: #000;
  color: #ca2e55;
  border-radius: 0px 10px 10px 0px;
  text-shadow: 0px 1px #dbcc46;
  -webkit-transition: border-left 0.3s ease-in-out;
  transition: border-left 0.3s ease-in-out;
}

header .current-page {
  border-left: 4px solid transparent;
  background-color: #dbcc46;
  color: #462521;
  text-shadow: 1px 2px #232323;
}

.page {
  position: relative;
  min-height: 100vh;
}

.content {
  width: 960px;
  margin: auto;
  padding-bottom: 150px;
}

h1 {
  color: #ca2e55;
  font-family: "Roboto", sans-serif;
  font-size: 50px;
  margin: 0.5em;
  text-align: center;
  text-shadow: 1px 2px #232323;
}

h2 {
  color: #efefef;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  padding-top: 20px;
  text-align: center;
  text-shadow: 1px 2px #232323;
}

p {
  color: #232323;
  font-size: 20px;
  font-family: "Open Sans", sans-serif;
  margin: 20px 0;
}

#profile-image-box {
  border-style: outset;
  border-width: 2px;
  border-color: #232323;
  background-color: #000;
  background-image: url("images/fire-banner-transparent.png");
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border-bottom-left-radius: 40%;
  border-bottom-right-radius: 40%;
  margin-bottom: 2em;
}

#profile-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  border: #ca2e55 outset 1.2px;
}

#portfolio-content img {
  margin-bottom: 15px;
  width: 100%;
}

#portfolio-content h2 {
  text-align: left;
  font-size: 26px;
  color: #ca2e55;
}

#portfolio-content hr {
  margin-top: 50px;
}

#portfolio-content a {
  color: #ca2e55;
  text-decoration: none;
  text-shadow: 1px 2px #efefef;
}

#portfolio-content a:hover {
  color: #dbcc46;
  text-shadow: 1px 1px #232323;
}

.submission-form {
  max-width: 400px;
  margin: auto;
  padding-bottom: 25px;
  background-color: #462521;
  border-radius: 25px;
  font-family: "Open Sans", sans-serif;
  border: #462521 2px outset;
  color: #efefef;
}

.submission-field {
  display: block;
  margin: auto;
  padding: 5px;
  border-radius: 10px;
}

label {
  display: block;
  margin-top: 20px;
  margin-left: 110px;
}

.submit-button {
  display: block;
  margin: auto;
  padding: 5px;
  margin-top: 20px;
  border-radius: 10px;
  background-color: #8a6552;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: #efefef;
  text-shadow: 0px 1px #232323;
}

.submit-button:hover {
  background-color: #dbcc46;
  color: #232323;
  text-shadow: 0px 1px #efefef;
}

#map {
  display: block;
  margin: auto;
  border-radius: 25px;
}

#contact-info {
  text-align: center;
  margin-top: 20px;
}

footer {
  background-color: #8a6552;
  color: #efefef;
  text-shadow: 1px 2px #232323;
  height: 100px;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  text-align: center;
  line-height: 100px;
  position: absolute;
  width: 100%;
  bottom: 0;
}
/*# sourceMappingURL=style.css.map */